<section class="sub-banner-con w-100 float-left light-bg main-box position-relative">
    <div class="wrapper1417">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="abt-desgin-content">
                    <h1 class="sub-banner-heading">Services</h1>
                    <p>Innovative architecture and refined interiors, crafted to <br>
                        inspire everyday living.</p>
                    <div class="breadcrumb-con d-inline-block">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item text-success">Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <figure>
                    <img src="assets/images/service-banner-img.jpg" alt="image" class="img-fluid">
                </figure>
            </div>
            <!-- sub banner inner con -->
        </div>
        <!--  -->
    </div>
    <!-- sub banner con -->
</section>
<!-- BANNER SECTION END HERE -->

<!-- WHAT WE DO SECTION STARTS HERE -->
<section class="what-we-do-con w-100 float-left position-relative padding-top padding-bottom main-box">
    <div class="container wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="generic-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">
            <span class="d-block ">What We Do</span>
            <h2>Expert Solutions for Architecture, <br>
                Interiors, and Custom Design</h2>
        </div>
        <div class="row align-items-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class=" col-lg-5 col-md-5">
                <div class="service-img-con position-relative">
                    <figure class="service-icon"><img src="assets/images/service-icon1.png" alt="image"
                            class="img-fluid"></figure>
                    <figure><img src="assets/images/service-img1.jpg" alt="image" class="img-fluid"></figure>
                    <!-- service img con -->
                </div>
                <!-- col -->
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="service-content-con">
                    <span class="d-block">01</span>
                    <h4>Architectural Design</h4>
                    <p>We create thoughtful, innovative architectural solutions tailored
                        to your lifestyle, space, and vision. From initial concepts to
                        detailed planning, our designs balance aesthetics, function,
                        and sustainability.
                    </p>
                    <p *ngIf="showMore">We design outdoor environments that connect people with
                        nature. Through sustainable planning and creative vision, we
                        shape landscapes that are functional, beautiful, and seamlessly
                        integrated with their surroundings.
                    </p>

                    <a class="primary-btn text-white" (click)="showMore=!showMore"> {{ showMore ? 'Show Less' : 'Show More' }}
                        <i class="fas fa-arrow-right"></i></a> <!-- service content con -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <div class="row align-items-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class=" col-lg-7 col-md-7 order-xl-0 order-lg-0 order-md-0 order-1">
                <div class="service-content-con var-even">
                    <span class="d-block">02</span>
                    <h4>Interior Design</h4>
                    <p>We craft elegant and functional interiors that reflect your
                        personality and purpose. From material selection to final
                        styling, our designs bring harmony, comfort, and character
                        to every space.
                    </p>
                     <p *ngIf="showMore">We design outdoor environments that connect people with
                        nature. Through sustainable planning and creative vision, we
                        shape landscapes that are functional, beautiful, and seamlessly
                        integrated with their surroundings.
                    </p>

                    <a class="primary-btn text-white" (click)="showMore=!showMore"> {{ showMore ? 'Show Less' : 'Show More' }}
                        <i class="fas fa-arrow-right"></i></a> <!-- service content con -->
                </div>
                <!-- col -->
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="service-img-con position-relative">
                    <figure class="service-icon"><img src="assets/images/service-icon2.png" alt="image"
                            class="img-fluid"></figure>
                    <figure><img src="assets/images/service-img2.jpg" alt="image" class="img-fluid"></figure>
                    <!-- service img con -->
                </div>
                <!-- col -->
            </div>

            <!-- row -->
        </div>
        <div class="row align-items-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class=" col-lg-5 col-md-5">
                <div class="service-img-con position-relative">
                    <figure class="service-icon"><img src="assets/images/service-icon3.png" alt="image"
                            class="img-fluid">
                    </figure>
                    <figure><img src="assets/images/service-img3.jpg" alt="image" class="img-fluid"></figure>
                    <!-- service img con -->
                </div>
                <!-- col -->
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="service-content-con">
                    <span class="d-block">03</span>
                    <h4>Resedential Renovation</h4>
                    <p>We transform existing spaces through thoughtful renovation that
                        enhances both form and function. Whether refreshing a single room
                        or reimagining an entire home, we bring new life with design
                        expertise and attention to detail.
                    </p>
                   <p *ngIf="showMore">We design outdoor environments that connect people with
                        nature. Through sustainable planning and creative vision, we
                        shape landscapes that are functional, beautiful, and seamlessly
                        integrated with their surroundings.
                    </p>

                    <a class="primary-btn text-white" (click)="showMore=!showMore"> {{ showMore ? 'Show Less' : 'Show More' }}
                        <i class="fas fa-arrow-right"></i></a> <!-- service content con -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <div class="row align-items-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.8s">
            <div class=" col-lg-7 col-md-7 order-xl-0 order-lg-0 order-md-0 order-1">
                <div class="service-content-con var-even">
                    <span class="d-block">04</span>
                    <h4>Design & Execution</h4>
                    <p>From concept to completion, we manage every step of your
                        project with precision. Our integrated approach ensures that
                        design intent is flawlessly executed, delivering results that
                        are both beautiful and built to last.
                    </p>
                   <p *ngIf="showMore">We design outdoor environments that connect people with
                        nature. Through sustainable planning and creative vision, we
                        shape landscapes that are functional, beautiful, and seamlessly
                        integrated with their surroundings.
                    </p>

                    <a class="primary-btn text-white" (click)="showMore=!showMore"> {{ showMore ? 'Show Less' : 'Show More' }}
                        <i class="fas fa-arrow-right"></i></a> <!-- service content con -->
                </div>
                <!-- col -->
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="service-img-con position-relative">
                    <figure class="service-icon"><img src="assets/images/service-icon4.png" alt="image"
                            class="img-fluid">
                    </figure>
                    <figure><img src="assets/images/service-img4.jpg" alt="image" class="img-fluid"></figure>
                    <!-- service img con -->
                </div>
                <!-- col -->
            </div>

            <!-- row -->
        </div>
        <div class="row align-items-center pb-0 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.9s">
            <div class=" col-lg-5 col-md-5">
                <div class="service-img-con position-relative">
                    <figure class="service-icon"><img src="assets/images/service-icon5.png" alt="image"
                            class="img-fluid">
                    </figure>
                    <figure><img src="assets/images/service-img5.jpg" alt="image" class="img-fluid"></figure>
                    <!-- service img con -->
                </div>
                <!-- col -->
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="service-content-con">
                    <span class="d-block">05</span>
                    <h4>Landscape Architecture</h4>
                    <p>We design outdoor environments that connect people with
                        nature. Through sustainable planning and creative vision, we
                        shape landscapes that are functional, beautiful, and seamlessly
                        integrated with their surroundings.
                    </p>
                    <p *ngIf="showMore">We design outdoor environments that connect people with
                        nature. Through sustainable planning and creative vision, we
                        shape landscapes that are functional, beautiful, and seamlessly
                        integrated with their surroundings.
                    </p>

                    <a class="primary-btn text-white" (click)="showMore=!showMore"> {{ showMore ? 'Show Less' : 'Show More' }}
                        <i class="fas fa-arrow-right"></i></a>
                    <!-- service content con -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- what we can do con -->
</section>
<app-footer></app-footer>