<nav>
<div class="header-main-con w-100 float-left main-box">
        <div class="wrapper1417">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand p-0" routerLink="/home">
                    <figure class="mb-0">
                        <img src="assets/images/header-logo.png" style="width: 124px;" alt="header-logo" loading="lazy">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link p-0 active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" routerLinkActive="active" routerLink="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" routerLinkActive="active" routerLink="/service">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" routerLinkActive="active" routerLink="/portfolio">Portfolio</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link p-0" routerLinkActive="active" routerLink="/contact">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-btns d-flex align-items-center">
                    
                </div>
            </nav>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>