    <section class="sub-banner-con w-100 float-left light-bg main-box position-relative">
        <div class="wrapper1417">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="abt-desgin-content">
                        <h1 class="sub-banner-heading">Portfolio</h1>
                        <p>Designed architecture & interiors that elevate everyday <br>
                            living through innovation & elegance.</p>
                        <div class="breadcrumb-con d-inline-block">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <figure>
                        <img src="assets/images/portfolio-banner-img.jpeg" alt="image" class="img-fluid">
                    </figure>
                </div>
                <!-- sub banner inner con -->
            </div>
            <!--  -->
        </div>
        <!-- sub banner con -->
    </section>
    <!-- BANNER SECTION END HERE -->
    <!-- PORTFOLIO SECTION START HERE -->
    <section class="portfolio-con w-100 float-left w-100 position-relative padding-top padding-bottom main-box">
        <div class="wrapper1417 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="generic-title text-center wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
                <span class="d-block">Latest Projects</span>
                <h2>Recent Work We Have Done</h2>
            </div>
            <div class="tabs-box tabs-options wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s">
                <ul class="nav nav-tabs">
                    <li class="position-relative">
                        <a class="active" data-toggle="tab" href="#all">Latest Work</a>
                    </li>
                    <li class="position-relative">
                        <a data-toggle="tab" href="#resedential">Resedential</a>
                    </li>
                    <!-- <li class="position-relative">
                        <a data-toggle="tab" href="#corporate">Corporate</a>
                    </li> -->
                    <li class="position-relative">
                        <a data-toggle="tab" href="#comercial">Commercial</a>
                    </li>
                    <li class="position-relative">
                        <a data-toggle="tab" href="#interior">Interior</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="all" class="tab-pane fade in active show">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/latest-project-img1.jpg" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Living Room Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/latest-project-img2.jpg" alt="latest-project-img2">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Architecture– Luxury Living</small>
                                            <h5>Cube Modern House</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/latest-project-img3.jpg" height="375px" alt="latest-project-img3">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Decor – Lighting</small>
                                            <h5>Light Interior Design</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/latest-project-img4.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Apartment Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/latest-project-img5.jpeg" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Architecture – Luxury Living</small>
                                            <h5>Villa Building</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/latest-project-img6.jpeg" alt="latest-project-img3">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Commercial</small>
                                            <h5>Commercial Design</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- all -->
                    </div>
                    <div id="resedential" class="tab-pane fade">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res1.jpeg" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res2.jpeg" width="1000px" height="375px" alt="latest-project-img3">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res3.jpeg" height="375px"  alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res10.jpeg" height="375px"  alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res4.jpeg" height="375px"  alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res5.jpeg" height="375px"  alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res6.jpeg" height="375px"  alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res7.jpeg" height="375px"  alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/res8.jpeg" height="375px"  alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Luxury Living</small>
                                            <h5>Resedential Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                        </div>
                        <!-- resedential -->
                    </div>
                  
                    <div id="comercial" class="tab-pane fade">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/cm1.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Architecture</small>
                                            <h5>Commercial Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/cm4.jpeg" height="375px" alt="latest-project-img2">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Architecture</small>
                                            <h5>Commercial Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/cm2.jpeg" height="375px" alt="latest-project-img2">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Architecture</small>
                                            <h5>Commercial Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/cm5.jpeg" height="375px" alt="latest-project-img2">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Architecture</small>
                                            <h5>Commercial Project</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                        </div>
                        <!-- commercial -->
                    </div>
                    <div id="interior" class="tab-pane fade">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int1.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Dining interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int2.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Kitchen Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int3.jpg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Living Room Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int4.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>BathRoom Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int5.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Kitchen Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int6.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Kitchen Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int7.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Snooker Club</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="latest-proj-box">
                                    <figure class="mb-0">
                                        <img src="assets/images/int8.jpeg" height="375px" alt="latest-project-img1">
                                    </figure>
                                    <div class="latest-proj-content-con">
                                        <div class="latest-proj-heading">
                                            <small class="d-block">Interior – Luxury Living</small>
                                            <h5>Living Plus Kitchen Interior</h5>
                                        </div>
                                        <div class="latest-proj-btn">
                                            <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                                    alt="arrow"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                        </div>
                        <!-- interior -->
                    </div>
                </div>
            </div>
            <!-- wrapper -->
        </div>
        <!-- portfolio con -->
    </section>
    <app-footer></app-footer>