<!-- <app-navebar></app-navebar> -->
<section class="banner-main-con w-100 float-left light-bg main-box position-relative">
    <div class="wrapper1417">
        <div class="banner-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="banner-text-con">
                <span class="d-inline-block">Design. Build. Innovate.</span>
                <h1>Shaping Future Living<br></h1>
                <p>We craft architectural spaces that inspire, build structures<br> that last,
                    and develop intelligent software solutions that<br> power the future.</p>
                <div class="banner-btns">
                    <a class="primary-btn" routerLink="/contact">Start Project<i class="fas fa-arrow-right"></i></a>
                    <a class="white-btn" routerLink="/about">Learn More<i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="banner-small-imgs">
                    <figure class="mb-0">
                        <img src="assets/images/banner-small-img1.jpg" alt="banner-small-img1">
                    </figure>
                    <figure class="mb-0">
                        <img src="assets/images/banner-small-img2.jpg" alt="banner-small-img2">
                    </figure>
                    <figure class="mb-0">
                        <img src="assets/images/banner-small-img3.jpg" alt="banner-small-img3">
                    </figure>
                </div>
            </div>
            <div class="banner-img-con">
                <figure class="mb-0">
                    <img src="assets/images/banner-main-img.jpg" alt="banner-main-img">
                </figure>
                <!-- <div class="our-work-btn bottom-arrow">
                        <a href="#user"><img src="assets/images/bottom-arrow.png" alt="arrow"></a>
                    </div> -->
            </div>
        </div>
    </div>
</section>
<!-- BANNER SECTION END HERE -->
<!-- USER SECTION START HERE -->
<section class="user-main-con w-100 float-left padding-top padding-bottom circle-bg-shapes main-box" id="user">
    <div class="container wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="user-inner-con">
            <div class="user-heading-con wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
                <h3>User-Driven Designs,
                    Creatively Realized</h3>
                <p>Empowering our clients to transform their vision into reality with unmatched creativity, precision,
                    and innovation.</p>
            </div>
            <div class="users-details-con wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
                <div class="user-detrail-box">
                    <figure>
                        <img src="assets/images/user-detail-img1.png" alt="user-detail-img1">
                    </figure>
                    <span class="d-inline-block count">9</span><span class="d-inline-block alphabet">k</span><sup
                        class="d-inline-block align-middle">+</sup>
                    <p>Interior Designed Worldwide</p>
                </div>
                <div class="user-detrail-box">
                    <figure>
                        <img src="assets/images/user-detail-img2.png" alt="user-detail-img2">
                    </figure>
                    <span class="d-inline-block count">98</span><span class="d-inline-block alphabet">%</span>
                    <p>Happy Customers</p>
                </div>
                <div class="user-detrail-box">
                    <figure>
                        <img src="assets/images/user-detail-img3.png" alt="user-detail-img3">
                    </figure>
                    <span class="d-inline-block count">5</span><sup class="d-inline-block align-middle">+</sup>
                    <p>Professional Architects</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- USER SECTION END HERE -->
<!-- HOME ABOUT SECTION START HERE -->
<!-- HOME ABOUT SECTION END HERE -->
<!-- OUR WORK SECTION START HERE -->
<section class="our-work-main-con w-100 float-left padding-top padding-bottom main-box">
    <div class="container wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="generic-title text-center">
            <span class="d-block wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">What We Do</span>
            <h2 class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">Innovative Architecture, Inspiring
                Interiors, and Tailored Design Solutions — All Under One Roof.</h2>
        </div>
        <div class="our-work-inner-con wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="our-work-outer-box">
                <figure class="mb-0">
                    <img src="assets/images/work-detail-small-img1.png" alt="work-detail-small-img1">
                </figure>
                <div class="our-work-content-box">
                    <div class="our-work-text-box">
                        <h4>Architectural Design</h4>
                        <p>From residential homes to commercial buildings, we create thoughtful,
                            sustainable designs tailored to your lifestyle or business goals.</p>
                    </div>
                    <div class="our-work-hidden-img">
                        <figure class="mb-0">
                            <img src="assets/images/our-work-main-img1.jpg" alt="our-work-main-img1">
                        </figure>
                    </div>
                    <!-- <div class="our-work-btn">
                            <a href="portfolio.html"><img src="assets/images/arrow-right.png" alt="arrow"></a>
                        </div> -->
                </div>
            </div>
            <div class="our-work-outer-box">
                <figure class="mb-0">
                    <img src="assets/images/work-detail-small-img2.png" alt="work-detail-small-img2">
                </figure>
                <div class="our-work-content-box">
                    <div class="our-work-text-box">
                        <h4>Interior Design</h4>
                        <p>We craft interiors that harmonize beauty and practicality, reflecting
                            your personality or brand identity in every detail.</p>
                    </div>
                    <div class="our-work-hidden-img">
                        <figure class="mb-0">
                            <img src="assets/images/our-work-main-img2.jpg" alt="our-work-main-img">
                        </figure>
                    </div>
                    <!-- <div class="our-work-btn">
                            <a href="portfolio.html"><img src="assets/images/arrow-right.png" alt="arrow"></a>
                        </div> -->
                </div>
            </div>
            <div class="our-work-outer-box">
                <figure class="mb-0">
                    <img src="assets/images/work-detail-small-img3.png" alt="work-detail-small-img3">
                </figure>
                <div class="our-work-content-box">
                    <div class="our-work-text-box">
                        <h4>Resedential Renovation</h4>
                        <p>We specialize in transforming existing homes into renewed spaces
                            that reflect your evolving lifestyle, taste, and functional needs.</p>
                    </div>
                    <div class="our-work-hidden-img">
                        <figure class="mb-0">
                            <img src="assets/images/our-work-main-img3.jpg" alt="our-work-main-img">
                        </figure>
                    </div>
                    <!-- <div class="our-work-btn">
                            <a href="portfolio.html"><img src="assets/images/arrow-right.png" alt="arrow"></a>
                        </div> -->
                </div>
            </div>


            <div class="our-work-outer-box">
                <figure class="mb-0">
                    <img src="assets/images/work-detail-small-img3.png" alt="work-detail-small-img3">
                </figure>
                <div class="our-work-content-box">
                    <div class="our-work-text-box">
                        <h4>Commercial</h4>
                        <p>We create inspiring and functional commercial spaces that enhance productivity, strengthen
                            brand identity, and deliver lasting value.</p>
                    </div>
                    <div class="our-work-hidden-img">
                        <figure class="mb-0">
                            <img src="assets/images/our-work-main-img4.jpg" alt="our-work-main-img">
                        </figure>
                    </div>
                    <!-- <div class="our-work-btn">
                            <a href="portfolio.html"><img src="assets/images/arrow-right.png" alt="arrow"></a>
                        </div> -->
                </div>
            </div>

            <div class="our-work-outer-box">
                <figure class="mb-0">
                    <img src="assets/images/work-detail-small-img4.png" alt="work-detail-small-img4">
                </figure>
                <div class="our-work-content-box">
                    <div class="our-work-text-box">
                        <h4>Design & Execution</h4>
                        <p>Our Design & Execution service offers a comprehensive, start-to
                            -finish solution that brings your vision to life.</p>
                    </div>
                    <div class="our-work-hidden-img">
                        <figure class="mb-0">
                            <img src="assets/images/our-work-main-img5.jpg" alt="our-work-main-img1">
                        </figure>
                    </div>
                    <!-- <div class="our-work-btn">
                            <a href="portfolio.html"><img src="assets/images/arrow-right.png" alt="arrow"></a>
                        </div> -->
                </div>
            </div>
        </div>
        <div class="work-main-btn">
            <a class="secondary-btn" routerLink="/portfolio">View All <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</section>
<!-- OUR WORK SECTION END HERE -->
<!-- LATEST PROJECT SECTION START HERE -->
<!-- <section class="latest-proj-main-con w-100 float-left padding-top padding-bottom light-bg main-box">
        <div class="wrapper1417 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="generic-title text-center">
                <span class="d-block">Latest Projects</span>
                <h2>Recent Work We Have Done</h2>
            </div>
            <div class="latest-proj-inner-con wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
                <div class="owl-carousel owl-theme" id="owl-carousel-project">
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img1.jpg" alt="latest-project-img1">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Interior – Luxury Living</small>
                                    <h5>Living Room Interior</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img2.jpg" alt="latest-project-img2">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Architecture– Luxury Living</small>
                                    <h5>Cube Modern House</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img3.jpg" alt="latest-project-img3">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Decor – Lighting</small>
                                    <h5>Light Interior Design</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img1.jpg" alt="latest-project-img1">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Interior – Luxury Living</small>
                                    <h5>Living Room Interior</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img2.jpg" alt="latest-project-img2">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Architecture– Luxury Living</small>
                                    <h5>Cube Modern House</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img3.jpg" alt="latest-project-img3">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Decor – Lighting</small>
                                    <h5>Light Interior Design</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img1.jpg" alt="latest-project-img1">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Interior – Luxury Living</small>
                                    <h5>Living Room Interior</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img2.jpg" alt="latest-project-img2">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Architecture– Luxury Living</small>
                                    <h5>Cube Modern House</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-proj-box">
                            <figure class="mb-0">
                                <img src="assets/images/latest-project-img3.jpg" alt="latest-project-img3">
                            </figure>
                            <div class="latest-proj-content-con">
                                <div class="latest-proj-heading">
                                    <small class="d-block">Decor – Lighting</small>
                                    <h5>Light Interior Design</h5>
                                </div>
                                <div class="latest-proj-btn">
                                    <a href="portfolio.html"><img src="assets/images/small-right-arrow.png"
                                            alt="arrow"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- LATEST PROJECT SECTION END HERE -->
<!-- CLIENT SECTION START HERE -->
<!-- CLIENT SECTION END HERE -->
<!-- GET STARTED SECTION START HERE -->
<section class="get-started-main-con w-100 float-left position-relative">
    <div class="circle-bg-shapes padding-top padding-bottom">
        <div class="container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="get-started-inner-con col-xl-9 mr-auto ml-auto">
                <div class="generic-title text-center">
                    <span class="d-block wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">Work With
                        Us</span>
                    <h2 class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s">Begin Your Space
                        Transformation With Us</h2>
                </div>
                <div class="get-started-btn text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                    <a class="secondary-btn" routerLink="/contact">Get Started <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GET STARTED SECTION END HERE -->
<!-- WHY CHOOSE US SECTION START HERE -->
<section class="why-choose-us-main-con w-100 float-left padding-top padding-bottom main-box position-relative">
    <div class="container wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="why-choose-us-inner-con">
            <div class="why-choose-us-img-con wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
                <figure class="mb-0">
                    <img src="assets/images/why-choose-main-img.jpg" alt="why-choose-main-img">
                </figure>
            </div>
            <div class="why-choose-us-content-con wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="generic-title">
                    <span class="d-block">Why Choose Us</span>
                    <h2>Designing with Quality and care.</h2>
                </div>
                <div class="why-choose-us-detail">
                    <figure class="mb-0">
                        <img src="assets/images/certified-insurence-img.png" alt="certified-insurence-img">
                    </figure>
                    <div class="why-choose-us-text">
                        <span class="d-block">Trusted Excellence</span>
                        <p>Transforming visions into reality with creativity, precision, and reliability.</p>
                    </div>
                </div>
                <div class="why-choose-us-detail">
                    <figure class="mb-0">
                        <img src="assets/images/exp-img.png" alt="exp-img">
                    </figure>
                    <div class="why-choose-us-text">
                        <span class="d-block">Design & Innovation You Can Rely On</span>
                        <p>Blending architecture, construction, and software development into seamless, impactful solutions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- FOOTER SECTION START HERE -->
<app-footer></app-footer>
<!-- js start -->

<router-outlet></router-outlet>

<!-- js end -->