    <section class="sub-banner-con w-100 float-left light-bg main-box position-relative">
        <div class="wrapper1417">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="abt-desgin-content">
                        <h1 class="sub-banner-heading">Contact Us</h1>
                        <p>Get in touch to learn more about our architecture <br>
                            and interior design services. </p>
                        <div class="breadcrumb-con d-inline-block">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <figure>
                        <img src="assets/images/contact-baner-img.jpg" alt="image" class="img-fluid">
                    </figure>
                </div>
                <!-- sub banner inner con -->
            </div>
            <!--  -->
        </div>
        <!-- sub banner con -->
    </section>
    <!-- BANNER SECTION END HERE -->

    <!-- CONTACT HELP SECTION -->
    <section
        class="float-left w-100 position-relative contact-help-con padding-top padding-bottom main-box text-center background-navy-medium">
        <div class="container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="generic-title text-center">
                <span class="d-block wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">Contact Info</span>
                <h2 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">Our Contact Information</h2>
            </div>
            <div class="row align-items-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="col-lg-4 col-md-4 d-flex">
                    <div class="white-box position-relative w-100">
                        <figure class="skin-circle"><img src="assets/images/loc-img.png" alt="icon" class="img-fluid">
                        </figure>
                        <h6 class="">Our Location</h6>
                        <ul class="list-unstyled p-0">
                            <li>Shop#68 , Mutton Market,  <br>
                               Upper Adda Chowk, Muzaffarabad, 13100</li>
                        </ul>
                        <!-- white box -->
                    </div>
                    <!-- col -->
                </div>
                <div class="col-lg-4 col-md-4 d-flex">
                    <div class="white-box position-relative w-100">
                        <figure class="dark-circle"><img src="assets/images/email-img.png" alt="icon" class="img-fluid">
                        </figure>
                        <h6 class="">Email us at</h6>
                        <ul class="list-unstyled p-0">
                            <li><a href="mailto:archilux@gmail.com">voxmrk&#64;gmail.com</a></li>
                        </ul>
                        <!-- white box -->
                    </div>
                    <!-- col -->
                </div>
                <div class="col-lg-4 col-md-4 d-flex">
                    <div class="white-box position-relative w-100">
                        <figure class="light-circle"><img src="assets/images/contct-img.png" alt="icon"
                                class="img-fluid"></figure>
                        <h6 class="">Phone Number</h6>
                        <ul class="list-unstyled p-0">
                            <li><a href="tel:+012(345)67899">+92342 5522055</a></li>
                            
                        </ul>
                        <!-- white box -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- why choose us con  -->
    </section>
    <!-- CONTACT FORM SECTION-->
    <section class="float-left w-100 position-relative contact-form-con padding-top padding-bottom main-box light-bg">
        <div class="container wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="generic-title text-center">
                <span class="d-block wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">Get in Touch</span>
                <h2 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">Send us a Message</h2>
            </div>
            <div class="row wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="col-xl-12 col-lg-12 mr-auto ml-auto">
                    <form class="main-form text-center" method="post" id="contactpage">
                        <ul class="list-unstyled p-0 float-left w-100 mb-0">
                            <li>
                                <input type="text" placeholder="Name" name="fname" id="fname">
                            </li>
                            <li>
                                <input type="tel" placeholder="Phone" name="phone" id="phone">
                            </li>
                            <li>
                                <input type="email" placeholder="Email" name="email" id="email">
                            </li>
                            <li>
                                <textarea placeholder="Message" rows="6" name="msg"></textarea>
                            </li>
                        </ul>
                        <div class="secondary-btn d-inline-block">
                            <button type="submit" id="submit"> Send Now <i class="fas fa-arrow-right ml-2"></i></button>
                        </div>
                    </form>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>

            <!-- container -->
        </div>
        <!-- contact form con -->
    </section>

    <!-- MAP SECTION -->
    <div class="float-left w-100 contact-map-con position-relative">
        <div class="container-fluid p-0 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3293.117447277225!2d73.4674279741186!3d34.37293300073183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e09f448c784ce3%3A0x31352fc1e4c75c5a!2sBuraq%20Studio!5e0!3m2!1sen!2s!4v1767105260859!5m2!1sen!2s" 
           width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- container fluid -->
        </div>
        <!-- contact map con -->
    </div>

    <app-footer></app-footer>